
/.vscode
/versionwithdatabaseID
/database/db.sqlite
/bin
/player_avatars/*
!/player_avatars/default_avatar
latest_commit.txt
version.txt
NickelConfig.toml
reloader.lua
database/nickel.sqlite
extensions/*
!extensions/example_extension/
.nickel_instance_id